<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>618220945806-g72k86go82t3ha9qtpqp1lflbdu2gk3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618220945806-g72k86go82t3ha9qtpqp1lflbdu2gk3f</string>
	<key>API_KEY</key>
	<string>AIzaSyAwa6Qgw_ed4YVmNPrKJlf6TAgGt3WAvtc</string>
	<key>GCM_SENDER_ID</key>
	<string>618220945806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phonegap.planrmobile</string>
	<key>PROJECT_ID</key>
	<string>planrmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>planrmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:618220945806:ios:7a552287e08b8d70</string>
	<key>DATABASE_URL</key>
	<string>https://planrmobile.firebaseio.com</string>
</dict>
</plist>